body {
}

.cont {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: url("../../assets/pokeball.jpg") no-repeat center fixed;
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  border: 1px solid blue;
  width: 625px;
  border-radius: 20px;
  height: 500px;
  margin-bottom: 45px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.339);
  background-color: #ffffff81;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  text-align: start;
  /* padding: 3rem 8rem; */
  border-radius: 5px;
}

.form label > p {
  font-weight: bold;
  line-height: 2rem;
}

.title-container {
  display: flex;
  /* background-color: rgba(0, 0, 255, 0.939); */
  padding: 2rem;
  border-radius: 5px;
  /* width: 100%; */
  text-align: center;
  /* max-width: 33.5rem; */
}

.error {
  background-color: rgba(255, 0, 0, 0.808);
  margin-bottom: 1rem;
}

.auth-title {
  /* width: 100%; */
}

.submit-button {
  padding: 0.5rem 7.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
  max-width: 17rem;
  text-align: center;
}

.guest-button {
  padding: 0.5rem 4rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
}
