*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --nav-spacing: 20px;
}

.pokemonList {
  position: relative;
  z-index: 0;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.pokeId {
  position: absolute;
  z-index: 1;

  margin-left: 10px;
}
a {
  text-decoration: none;
}

.App {
  height: 100vh;
  width: 100%;
}
