body,
html {
  margin: 0;
  /* background-color: #d50000; */
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pokeId {
  position: absolute;
  z-index: 1;

  margin-left: 10px;
}
a {
  text-decoration: none;
}

.main-layout {
  /* background: url("../public/images/pokeball_wallpaper.png") no-repeat;
  background-size: 100% 100%; */
  /* max-width: 1440px; */
  margin: 0 auto;
  height: 100%;
}

.App {
  height: 100vh;
  width: 100%;
}

.section {
  padding: 0 24px;
  height: calc(100% - 48px);
}

.main-layout-bg-img {
  background: url("../public/images/pokeball_wallpaper.png") no-repeat;
  background-size: 100% 100%;
}

.loader {
  width: 40px;
  height: 40px;
  display: inline;
  margin-right: 8px;
  color: #e5e7eb;
  fill: #6469ff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
