.pokemonList {
  position: relative;
  z-index: 0;
  /* padding: 30px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background: url("../../../public/images/pokeball-wallpaper.jpg") no-repeat
    center fixed;
  background-size: cover;
}

.scroll-back-btn {
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: black;
}
