.home-container {
  background: url("../../public/images/pokeball_wallpaper.png") no-repeat;
  background-size: 100% 100%;
  height: calc(100% - 48px);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 28px;
  flex: 1;
  gap: 24px;
}
