.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.mainCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  box-shadow: 0 0 11px 5px rgba(50, 50, 50, 0.2);
  background-color: #ff0000e3;
  width: 30rem;
  height: 20rem;
}

.card-header {
  width: 30rem;
  height: 5vh;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.oneImg {
  min-width: 10rem;
}

.imageCard {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.poke-weight {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  width: 7rem;
  background-color: lightgray;
}

.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats1 {
  margin-right: 0.5rem;
}
.progressBar {
  background-color: black;
  border-radius: 13px;
  width: 9rem;
  max-width: 15rem;
  padding: 2px;
  margin-top: 5px;
}

.progressBar > div {
  background-color: #3b4cca;
  justify-content: center;
  border-radius: 10px;
}

.fighting,
.fire,
.water,
.ice,
.dragon,
.dark,
.psychic,
.ground,
.flying,
.electric,
.normal,
.rock,
.ghost,
.bug,
.poison,
.grass,
.steel,
.fairy {
  float: right;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1px;
  width: 40px;
  font-size: 10px;
  font-weight: bold;
  margin-right: 5px;
  text-align: center;
}
.fighting {
  background-color: #c22e28
    ";
}
.fire {
  background-color: #EE8130;
}
.water {
  background-color: #6390F0;
}
.ice {
  background-color: #96D9D6;
}
.dragon {
  background-color: #6F35FC;
}
.dark {
  background-color: #705746;
}
.psychic {
  background-color: #F95587";
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.bug {
  background-color: #a6b91a;
}
.poison {
  background-color: A33EA1;
}
.grass {
  background-color: lightgreen;
}
.steel {
  background-color: #7ac74c;
}
.fairy {
  background-color: #d685ad;
}

.electric {
  background-color: #f7d02c;
}
.normal {
  background-color: #a8a77a;
}

@media (min-width: 700px) {
  .progressBar {
    width: 12rem;
    /* max-width: 15rem; */
  }
}
