.pokemon-card-container {
  display: flex;
  flex-direction: column;
  padding: 24px 100px;
  gap: 32px;
  background-color: rgb(255, 255, 255);
}

.pokemon-header {
  text-align: center;
}

.pokemon-id {
  color: rgb(164, 161, 161);
}

.pokemon-main {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 68px;
}

.pokemon-info-image {
  height: 380px;
  width: 50%;
}

.pokemon-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.poke-weight {
  display: flex;
  padding: 24px;
  flex-direction: column;
  background-color: lightgray;
}

.stat-header {
  padding-bottom: 4px;
}

.weight-header {
  margin-top: 18px;
}

.ability-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.pokemon-info {
  display: flex;
  flex: 1;
  gap: 68px;
  padding-top: 24px;
}

.statRow {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 4px;
}

.pokemon-types-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}

.pokemon-types {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats1 {
  margin-right: 0.5rem;
  font-size: 1.5em;
}

.stats {
  padding-left: 5px;
  color: white;
}

.progressBar {
  background-color: black;
  border-radius: 13px;
  width: 19rem;
  padding: 2px;
  margin-top: 5px;
}

.progressBar > div {
  background-color: #3b4cca;
  justify-content: center;
  border-radius: 10px;
}

.fighting,
.fire,
.water,
.ice,
.dragon,
.dark,
.psychic,
.ground,
.flying,
.electric,
.normal,
.rock,
.ghost,
.bug,
.poison,
.grass,
.steel,
.fairy {
}
.fighting {
  background-color: #c22e28
    ";
}
.fire {
  background-color: #EE8130;
}
.water {
  background-color: #6390F0;
}
.ice {
  background-color: #96D9D6;
}
.dragon {
  background-color: #6F35FC;
}
.dark {
  background-color: #705746;
}
.psychic {
  background-color: #F95587";
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.bug {
  background-color: #a6b91a;
}
.poison {
  background-color: A33EA1;
}
.grass {
  background-color: lightgreen;
}
.steel {
  background-color: #7ac74c;
}
.fairy {
  background-color: #d685ad;
}

.electric {
  background-color: #f7d02c;
}
.normal {
  background-color: #a8a77a;
}

.poketype {
  border: 1px solid black;
  border-radius: 8px;
  padding: 1px;
  width: 130px;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: block;
}

@media (min-width: 700px) {
  .progressBar {
    /* width: 12rem; */
    /* max-width: 15rem; */
  }
}

.btn-container {
  width: 100%;
  justify-content: center;
  gap: 14px;
  display: flex;
}

.btn {
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
}

.pokemon-evo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  text-align: center;
}

.evolution-header {
  margin-bottom: 24px;
}

.pokemon-evo-image {
  height: 250px;
  width: 200px;
}

.tester {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.pokemon-evo {
  text-align: center;
}
