.pokemon-image-container {
  position: relative;
  display: inline-block;
}

.pokemon-image:hover {
  opacity: 0.6;
}

.pokemon-image {
  width: 525px;
  height: auto;
}

@media (max-width: 1450px) {
  .pokemon-image {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  .pokemon-image {
    width: 400px;
    background-color: none;
  }
  .title {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .pokemon-image {
    width: 320px;
    background-color: none;
  }
}
