.menu {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: yellow;
  z-index: 1;
  /* margin-bottom: 2rem; */
}

.nav_big {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.logo {
  margin-left: var(--nav-spacing);
  float: left;
  font-size: 26px;
}
.listItem {
  list-style: none;
  padding-right: 2rem;
  font-size: 20px;
}

.auth_btn {
  margin-right: var(--nav-spacing);
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: blue;
  font-size: 16px;
}

.auth_btn:hover {
  background-color: red;
}

.listItem a:hover {
  border-bottom: 5px solid blue;
}

.mobile_nav {
  display: none;
}

@media (max-width: 767px) {
  .nav_big {
    display: none;
  }
  .mobile_nav {
    display: flex;
    align-items: center;
    background-color: yellow;
    width: 100%;
    z-index: 1;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    width: 70%;
    align-items: flex-start;
  }
  .listItem {
    padding-top: 15px;
  }

  .listItem a:hover {
    color: blue;
  }
  .auth_btn {
    margin-right: var(--nav-spacing);
    padding: 2px 10px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
  }
}
