:root {
  --nav-spacing: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: #ffff4c;
  z-index: 1;
  padding: 0px 24px;
}

.navbar-desktop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  font-size: 26px;
  left: 20;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.listItem {
  list-style: none;
  padding-right: 2rem;
  font-size: 20px;
}

.listItem a:hover {
  color: blue;
}

.active {
  font-weight: bold;
  color: blue;
}

.mobile_nav {
  display: none;
}

@media (max-width: 767px) {
  .navbar-desktop {
    display: none;
  }
  .mobile_nav {
    display: flex;
    align-items: center;
    background-color: yellow;
    width: 100%;
    z-index: 1;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    width: 70%;
    align-items: flex-start;
  }
  .listItem {
    padding-top: 15px;
  }

  .listItem a:hover {
    color: blue;
  }
  .auth_btn {
    margin-right: var(--nav-spacing);
    padding: 2px 10px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
  }
}
